{% extends 'base.html' %}

{% block content %}
<br>
<div style="float: left; width: 40%; height: 80%; ">
  <div class="container mt-3">
    <img src="/static/chat.png" style="width: 30%;" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
    <h1 class="display text-center">Flack ...</h1>
      <div class="row justify-content-center">
          <div class="col-md-6" id="form">
          {% if not name %}
            <!--Form to enter name if name is not present-->
            <form id="formDisplay">
              <div class="form-group">
                <lable for="name">Enter your name</label>
                <input id="name" type="text" class="form-control" autocomplete="off" placeholder="Enter Name">
              </div>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
  
          {% endif %}
          </div>
        </div>
  </div>
  
  
  <div class="container text-center" id="DisplayName">
            {% if name %}
            <!--If name is present display this-->
              <h2 >Welcome {{ name }}</h2>
            {% endif %}
            <div id="user-data" data-username="{{ name }}"></div>
  </div>
  
  
  <br>

  <div id="channelContainer" class="container col-md-6" style="{% if name %}{% else %}display: none;{% endif %}" id="createChannel">
    <!--Form to create channel-->
    <form id="formChannel"> 
      <div class="form-group">
        <label for="channel">Create a New Channel</label>
        <br>
        <input id="channel" type="text" autocomplete="off" class="form-control" placeholder="Channel Name">
        <small id="channelMessage" style="color: blue"></small>           
      </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
  <br>
  </div>
          <div class="container ">
            <ul class="list-unstyled text-center">
              <li> <b> Available Channels</b> </li>
              <hr class="col-md-6">
            </ul>
  
            <ul class="list-unstyled text-center" id="channelList">
              {% if channels %}
                {% for channel in channels %}
                  <!--List of channels created-->
                  <li class="channel-list-item" >{{ channel.name }}</li>
                  
                {% endfor %}
              {% else %}
                <li>- No available Channels -</li>
              {% endif %}
            </ul>
          </div>
  
</div>


<div style="float: right; width: 60%;  height: 800px;">
  <div id="chatWindow" class="container chatWindow" style="visibility: hidden;">
    <div class="container text-muted text-center" ><h4><b id="title"></b></h4></div>
    <div class="container chatMessages">
      <br>
      <!--List to display message-->
      <ul class="list-unstyled" id="chatMessages" style="float: right; width: 60%;">
  
      </ul>
    </div>
  <br>
  <br>
  <div class="container chatTyping" >
    <hr class="col-md-6">
      <!--Form to type message-->
      <form id="formTyping">
        <div class="form-row">
            <div class="col-11">
              <input id="message" type="text" autocomplete="off" name="messageTyping" placeholder="Type message" class="form-control">
            </div>
          <div class="col-1">
              <button type="submit" class="btn btn-link" ><img src="/static/send.png" width="30" height="30" alt=""></button>
          </div>
        </div>
      </form>
    </div>
  </div>
      
  
</div>

        
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="/static/Name.js"></script>
<script src="/static/Channel.js"></script>

<script id="template" type="text/template">
  {% raw %}<li data-sender="{{ sender }}" class="hiddingMessage message">{{time}} | {{sender}} says: <span id="justMessage">{{message}}</span> &nbsp &nbsp <span class="delete" style="visibility: hidden;"><button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
  </span></li>{% endraw %}
</script>

<script>
 
  // Start Socket connection
  var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
  var template = Handlebars.compile(document.querySelector('#template').innerHTML);
  // The channel list is now just that, a list.
  var list = document.querySelector('#channelList');

  // To avoid ask too many times to DOM
  var chatWindow = document.querySelector('#chatWindow');
  var chatMessages = document.querySelector('#chatMessages');
  var formTyping = document.querySelector('#formTyping');
  var message = document.querySelector('#message');
  var allChannels = document.querySelector('#channelList').childNodes;

  {% if lastChannel %}
    for ( let j = 0; j < allChannels.length; j++){
      if (allChannels[j].innerHTML == "{{ lastChannel }}"){
        if (chatWindow.style.visibility === "hidden"){
          chatWindow.style.visibility = 'visible';
        }

        var title = document.querySelector('#title');
        title.innerHTML = "{{ lastChannel }}";
        socket.emit('update', {"channel": title.innerHTML});
      }
    }
  {% endif %}
  // select now all the children
  list.addEventListener('mouseenter', () => {
    allChannels = document.querySelector('#channelList').childNodes;

    if (allChannels != null){

      // When every channel is clicked, change chat window's title and emit for update messages
      for (let i = 0; i < allChannels.length; i++){
        allChannels[i].onclick = () => {

          if (chatWindow.style.visibility === "hidden"){
            chatWindow.style.visibility = 'visible';
          }

          var title = document.querySelector('#title');
          title.innerHTML = allChannels[i].innerHTML;

          // Trying to send the Channel name to the server for store in session
          let request = new XMLHttpRequest;
          request.open('POST', '/lastChannel')
          request.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
          request.send("lastChannel=" + title.innerHTML);

          chatMessages.innerHTML = '';
          socket.emit('update', {"channel": title.innerHTML});
          location.reload()
        }
      }
    }
  });
  // On connect send messages when chatForm is submit
  socket.on('connect', () => {

    formTyping.onsubmit = () => {
      socket.emit('sendMessage', {"channel": title.innerHTML, "message": message.value});
      message.value = '';
      return false;
    }
  });
  // Update all olds messages. This is a response from the emit('update') above
  socket.on('updateChat', function(data, name) {
    if (data != 'notFound'){
      let username = document.querySelector('#user-data').dataset.username;

      if (name == username) {
        for (var i = 0; i < data.length; i++){

          if (data[i].message != null){
            oldLi = template({"time": data[i].time, "sender": data[i].sender, "message": data[i].message});
            chatMessages.innerHTML += oldLi;
          }
        }
      }
    }else{
      chatMessages.innerHTML = '';
    }
  });
  // Update last new message. This is a response from emit('sendMessage') above
  socket.on('update', data => {
    newLi = template({"time": data.time, "sender": data.sender, "message": data.message});
    chatMessages.innerHTML += (newLi);
  });

  // Make visible or not visible the delete option for messages
  document.getElementsByClassName('chatMessages')[0].onmouseover = () => {

      var cancel = Array.from(document.getElementsByClassName("delete"));

      cancel.forEach(elem => {
        elem.parentElement.onmouseover = () => {
          if (elem.parentElement.dataset.sender == document.querySelector('#user-data').dataset.username) {
            elem.style.visibility = "visible";
          }
        }
        elem.parentElement.onmouseout = () => {
        elem.style.visibility = "hidden";
        }
      });

      cancel.forEach(elem => {
        elem.onclick = () => {
          delMessage = elem.parentElement.children[0].innerHTML;
          elem.parentElement.style.animationPlayState = 'running';
          elem.parentElement.addEventListener('animationend', () => {
            elem.parentElement.remove();
          });

          let request = new XMLHttpRequest;
          let data = new FormData;
          channel = document.getElementById('title').innerHTML;
          data.append("channel", channel);
          data.append("message", delMessage);
          request.open("POST", "/delete");
          request.send(data);
        }
      });
  }
</script>
{% endblock %}
